.nav-color{
    background-color: rgb(54, 44, 10);
}
.store{
    background-color: #2f2709;
}
.brown{
    background-color: #25282a;
}
.bg-color{
    background: #25282a;
}
.top-nav{
    background-color: rgb(202, 171, 104);
}

.tab-header.active{
    border-bottom: solid 2px rgb(54, 44, 10);
}

.tab-data.active{
    display: block;
}

#open-menu.active{
    display: block;
}